.container{
    text-align: center;
    margin-top: 23px;
}

table{
    margin: auto;
}

input{
    font-size: 34px;
    border: 5px solid grey;
    border-radius: 21px;
    height: 65px;
    width: 456px;
}

button{
    border-radius: 20px;
    font-size: 40px;
    background: #d0bfd1;
    width: 102px;
    height: 90px;
    margin: 6px;
}

.calculator{
    border: 5px solid #caf902;
    display: inline-block;
    background-color: #dfaded;
    padding: 23px;
    border-radius: 53px; 
}

h1{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}